<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div'>
        @RenderBody()
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
    <div class="copy-wthree">
        <p>
            © Potenza Form . All Rights Reserved | Design by
            <a href="https://www.ipotenza.com/" target="_blank">POTENZA (PVT) LTD</a>
        </p>
    </div>
</body>
</html>
